.product-image {
    list-style-type: none;
    width: 290px;
    padding: 20px;
    margin: 6px 6px;
    border: 1px solid #33b5e5;
    box-shadow: 10px 10px 5px #ccc;
}

.product-container {
    margin-top: 64px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.select-input {
    width: 108px;
    margin-bottom: 8px;
}

#total {
    font-weight: bold;
    font-size: 30px;
}
