/* .listings-container{
    border: 2px solid red;
} */

.item-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px 400px;
}
