@import "../product-item/product-item.component.css";
.product-page{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px 200px;
}

img{
    border-radius: 5px;
}

  
